<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bosh sahifa</title>
</head>
<body>
    <h3><h1 style="display: inline; color: red;">Home bu</h1>bu % extends 'base.html' % dan tepaga bulgani uchun % block content% ni ichiga yozilmagan busa ham kurinadi</h3>
{% extends 'base.html' %}
    <h1>bosh sahifa htmlsi</h1>
    {% block content%}
    <h2>bu yerda Home html </h2>
    <h1>ichidagilar ko'rinyapti</h1>
    <input value="home_bu" type="text">
    {% endblock content%}
</body>
</html>